*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    text-align: center;
    min-height: 100vh;
    background: url(../../media/monastery.jpg);
    background-position: center;
}

.scoreboard{
    margin-bottom: 15px;
}

#parchment{
    cursor: url(../../media/magic-candle.png) 25 15, auto;
    padding-top: 35px;
    border: none;
    border-top: 1px rgb(66, 0, 0, 0.540);
    border-left: 1px rgb(66, 0, 0, 0.540);
    background: url(../../media/parchment.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: 0 10px 15px black;
    position: relative;
    margin: 0 auto;
    height: 400px;
    width: 400px;

    .secret-words-container{

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .secret-word{
            color: rgba(0, 0, 0, 0.874);
            transition: color 350ms;
            min-width: 200px;
            min-height: 15px;
            

        &:hover{
            color: black;
        }   
        }
    }
}

#solution{
    margin-top:20px;
}

@media all and (min-width : 1300px){
    #parchment{
        height: 550px;
        width: 550px;
    }
}
        