button{
    background-color: $button-color;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: background 1000ms;

    &:hover{
        cursor: pointer;
        background-color: $intense-button-color;
    }
}